<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/index.css" %}">
  </head>
  <body>

  <h1>MOVIES INFORAMTION</h1>
  <hr>
    <div class="container">
      <div class="jumbotron">


        <a href="/add" class="btn btn-success">ADDMOVIES</a>
        <a href="/list" class="btn btn-primary">LISTMOVIES</a>

    </div>
    </div>
  </body>
</html>
