<!DOCTYPE html>
{% load staticfiles%}
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/list.css"%}">
  </head>
  <body>
    <h1 align="center">MOVIES INFO  TABLE</h1>
    <hr>
    {% if list %}
    <div class="container" align="center">
    <table>
      <th>MOVINAME</th>
      <th>ACTORNAME</th>
      <th>ACTRESSNAME</th>
      <th>RELESEDATE</th>
      <th>RATING</th>
{% for movi in list %}
<tr>
  <td>{{movi.movieName}}</td>
  <td>{{movi.actorName}}</td>
  <td>{{movi.actressName}}</td>
  <td>{{movi.releaseDate}}</td>
  <td>{{movi.rating}}</td>
</tr>
{% endfor %}
{% else%}
<h1>sorry not movies table in database </h1>
    </table>
{% endif %}
</div>
  </body>
</html>
